<section id="add" class="container">
  <div class="form-wrap">
    <h1>Add A Course</h1>
    <form>
      <div class="input-group">
        <label for="title">Course Name</label>
        <input 
        type="text" 
        name="title" 
        id="title" 
        class="input-box"
        placeholder="eg. HTML & CSS, Learn To Code, JavaScript For Web, React.js, ... " 
        maxlength="100" 
        required>
      </div>
      <div class="input-group">
        <label for="technologies">Hours Total</label>
        <input 
        type="number" 
        name="technologies" 
        id="technologies" 
        class="input-box"
        placeholder="" 
        maxlength="100"
        required>
      </div>
      <div class="input-group">
        <label for="budget">Start Date</label>
        <input 
        type="text" 
        name="budget" 
        id="budget" 
        class="input-box" 
        placeholder="format like: 2021-05-05"
        required>
      </div>
      <div class="input-group">
        <label for="description">End Date</label>
        <input 
        type="text"
        name="description" 
        id="description" 
        class="input-box" 
        placeholder="format like: 2021-05-05"
        required></input>
      </div>
      <input type="submit" value="Add Course" class="btn btn-reverse">
    </form>
  </div>
</section>
