<section id="add" class="container">
  <div class="form-wrap">
    <h1>Add A Course</h1>
    {{#each errors}}
    <div class="error">
      <p>{{text}}</p>
    </div>
    {{/each}}
    <form action="/courses/add" method="POST">
      <div class="input-group">
        <label for="name">Course Name</label>
        <select 
          class="input-box"
          name="name" 
          id="name">
          <option value="" selected disabled hidden>Please select</option>
          <option value="HTML & CSS">HTML & CSS</option>
          <option value="Learn To Code">Learn To Code</option>
          <option value="JavaScript For Web">JavaScript For Web</option>
          <option value="React.js">React.js</option>
          <option value="Node.js">Node.js</option>
          <option value="Vue.js">Vue.js</option>
        </select>
      </div>
      <div class="input-group">
        <label for="hours">Hours Total</label>
        <input 
        type="number" 
        name="hours" 
        id="hours" 
        class="input-box"
        placeholder="number" 
        maxlength="100"
        value={{hours}}>
      </div>
      <div class="input-group">
        <label for="start_date">Start Date</label>
        <input 
        type="date" 
        name="start_date"
        id="start_date" 
        class="input-box" 
        value={{start_date}}>
      </div>
      <div class="input-group">
        <label for="end_date">End Date</label>
        <input 
        type="date"
        name="end_date" 
        id="end_date" 
        class="input-box"
        value={{end_date}}>
      </div>
      <div class="input-group">
        <label for="teacher_id">Teacher</label>
        <select 
        type="number"
        name="teacher_id" 
        id="teacher_id" 
        class="input-box">
          <option value="" selected disabled hidden>Please select</option>
          <option value="2">Alexander Löhn</option>
          <option value="5">Ansgar Mertens</option>
          <option value="11">Benjamin Rabe</option>
          <option value="7">Christoph Eicke</option>
          <option value="1">Helder Pereira</option>
          <option value="4">Jonas Reitmann</option>
          <option value="8">Teresa Holfeld</option>
          <option value="9">Thomas Hedeler</option>
          <option value="10">Mary Vokicic</option>
          <option value="3">Paul Anton</option>
          <option value="6">Paul Mölders</option>
        </select>
      </div>
      <input type="submit" value="Add Course" class="btn btn-reverse">
    </form>
  </div>
</section>
