<section id="search" class="search-wrap">
  <h1>Find A Course</h1>
  <form action="gigs.html" class="search-form">
    <i class="fas fa-search"></i>
    <input type="search" name="term" placeholder="HTML & CSS, Learn To Code, JavaScript For Web, etc...">
    <input type="submit" value="Search">
  </form>
</section>