@import url("https://fonts.googleapis.com/css?family=Lato");

:root {
  --primary-color: #568c9b;
  --primary-hover-color: #64a5b7;
  --primary-hover-color: #0E4E5B;
  --custom-white: #f4f4f4; 
  --bg-color: #333;
  --box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.7);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  color: #333;
  background: #f4f4f4;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

.container {
  max-width: 960px;
  padding: 1rem 4rem;
  margin: auto;
  /* overflow: hidden; */
}

.error {
  padding: 5px;
  border: #777 dotted 1px;
  margin-bottom: 15px;
}

/* Header */
header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
}

header nav ul {
  display: flex;
}

header nav li {
  margin: 0 1rem;
}

header.inner {
  background: var(--bg-color);
  border-bottom: 4px solid var(--primary-color);
  position: relative;
  box-shadow: var(--box-shadow);
}

/* Buttons */
.btn {
  color: #fff;
  padding: 0.6rem;
  border: 1px solid #ccc;
  transition: all 0.3s;
  cursor: pointer;
}

.btn:hover {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
}

.btn-reverse {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-reverse:hover {
  background: var(--primary-hover-color);
  border: 1px solid var(--primary-hover-color);
}
.button {
  color: #fff;
  padding: 0.6rem;
  border: 1px solid #ccc;
  transition: all 0.3s;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.button:hover {
  background: var(--primary-hover-color);
  border: 1px solid var(--primary-hover-color);
}

/* Flex  */
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Home Search */
.search-wrap {
  background-image: url("../img/showcase.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 1.3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-wrap h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #fff;
  margin: 0 0 1.5rem;
  text-align: center;
}

.search-form input[type="submit"] {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
  padding: 0 2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.search-form input[type="submit"]:hover {
  background: var(--primary-hover-color);
  border: 1px solid var(--primary-hover-color);
}

.search-form {
  display: flex;
  width: 600px;
  box-shadow: var(--box-shadow);
}

.search-form i {
  color: #333;
}

/* Everything in the search form */
.search-form > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
}

input[type="search"] {
  flex-basis: 600px;
}

/* All Courses */
.courses {
  background: var(--bg-color);
  border-bottom: 4px solid var(--primary-color);
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: var(--box-shadow);
  position: relative;
}

.courses ul {
  list-style: none;
  display: flex;
}

.courses li {
  margin-right: 0.5rem;
  padding: 0.6rem;
}

.courses .tech span {
  color: var(--primary-color);
}

.edit-btn {
  position: absolute;
  top: 31px;
  right: 1rem;
  /* padding: 4px 8px; */
  /* border-radius: 6px; */
}
.edit-btn:hover,
.edit-btn:focus {
  cursor: pointer;
  color: red;
  background-color: #fff;
  /* transform: scale(1.2); */
}
.edit-or-delete {
  display: none;
}
.edit-btn:hover ~ .edit-or-delete,
.edit-btn:focus ~ .edit-or-delete,
.edit-or-delete:hover {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 23px;
  right: 14px;
  width: 250px;
  padding: 1.5rem;
  border-radius: 3px;
  background-color: var(--custom-white);
  color: var(--bg-color);
}
.edit-or-delete .flex-between + .flex-between {
  margin-top: 1rem;
}
.edit-or-delete .flex-between button {
  width: 45px;
}
.inactive.edit-course {
  display: none;
}
.active.edit-course {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  outline: 4px solid orange;
}

.confirm-delete.active {
  position: absolute;
  top: 23px;
  right: 14px;
  width: 330px;
  padding: 1.5rem;
  background-color: var(--custom-white);
  color: var(--bg-color);
  outline: 4px solid orangered;
}
.confirm-delete.inactive {
  display: none;
}
.active.edit-course .buttons, 
.active.confirm-delete .buttons {
  display: flex;
  margin-top: 1.5rem;
  justify-content: space-between;
}
.active.delete-confirmation {
  position: absolute;
  border: 2px solid rgb(158, 5, 5);
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.5rem;
  background-color: var(--custom-white);
}
.inactive.delete-confirmation {
  display: none;
}
.course_id {
  margin-left: .6rem;
}

/* Form */
.form-wrap {
  margin: auto;
  background: var(--bg-color);
  color: #fff;
  padding: 1rem 3rem 3rem;
  margin-top: 3rem;
  border-bottom: 4px solid var(--primary-color);
  box-shadow: var(--box-shadow);
}

.form-wrap.reg-form,
.form-wrap.login-form {
  width: 60%;
}

.form-wrap h1,
.form-wrap h2,
.form-wrap p {
  text-align: center;
}

.form-wrap .btn {
  margin-top: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
.form-wrap .btn:disabled {
  background-color: gray;
  color: lightgray;
  cursor: default;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}
.input-group {
  position: relative;
}
.input-box {
  padding: 0.5rem;
  font-size: 18px;
  width: 100%;
  margin-bottom: 2rem;
}
.error-message {
  position: absolute;
  background-color: white;
  border-radius: 2px;
  padding: 2px;
  color: rgb(158, 5, 5);
  font-size: .85rem;
  bottom: 8px;
  left: 10px;
}
/* Tablets */
@media (max-width: 800px) {
  .container {
    padding: 1rem 2rem;
  }

  header {
    flex-direction: column;
    padding: 0.3rem !important;
  }

  .search-form {
    width: 100%;
  }

  input[type="search"] {
    flex-basis: 100%;
  }

  .search-wrap h1 {
    font-size: 2rem;
  }

  .search-wrap {
    padding: 2.3rem;
  }

  .gig ul {
    flex-direction: column;
  }

  .gig .btn {
    display: block;
    margin-top: 1rem;
    text-align: center;
  }

  .form-wrap.reg-form,
  .form-wrap.login-form {
    width: 80%;
  }
}

/* Smartphones */
@media (max-width: 500px) {
  .container {
    padding: 1rem;
  }

  header nav li {
    margin: 0 10px;
  }

  .search-form {
    display: flex;
    flex-direction: column;
  }

  input[type="search"] {
    flex-basis: 0;
  }

  .search-form i {
    display: none;
  }

  .form-wrap {
    padding: 1rem 2rem 2rem;
  }

  .form-wrap.reg-form,
  .form-wrap.login-form {
    width: 100%;
  }
}

/* * { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue } */